<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>

    <!-- Título centrado opcional -->
    <ion-title class="center-title"> Contacto </ion-title>

    <!-- Botón de menú a la derecha -->
    <ion-buttons slot="end">
      <ion-menu-button menu="mainMenu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">

  <div class="titulos">
    <h3>¿Necesitas comunicarte con nosotros?</h3>
  </div>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Contacto</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <br>
      Instagram: &#64;sustratosenraiza <br>
      Facebook: Sustratos Enraiza <br>
      WhatsApp: +569 51586226 <br>
      Email: sustratosenraiza&#64;gmail.com <br>
    </ion-card-content>
  </ion-card>