<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button menu="mainMenu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">


  <!-- Imagen de usuario y mensaje de bienvenida -->
  <div class="info-usuario">
    <img src="../../assets/img/Logo_blanco.png" class="icono" />
    <h2><strong>{{ bienvenidos }}</strong><br /> {{ email }}</h2>
  </div>

  <div class="titulo">
    <h2>Productos</h2>
  </div>

  <ion-card>
    <img src="../../assets/img/saco25.jpg" />
    <ion-card-header>
      <ion-card-title>Sustrato 25 litros.</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Saco de 25 litros, perfecto para transplantar a tu pequeña planta en crecimiento.
    </ion-card-content>
    <ion-button expand="block" class="boton-agregar">Agregar al carrito</ion-button>
  </ion-card>

  <ion-card>
    <img src="../../assets/img/saco50.jpg" />
    <ion-card-header>
      <ion-card-title>Sustrato 50 litros.</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Saco de 50 litros, ideal para transplantar tu planta de mediano tamaño.
    </ion-card-content>
    <ion-button expand="block" class="boton-agregar">Agregar al carrito</ion-button>
  </ion-card>

  <ion-card>
    <img src="../../assets/img/saco100.jpg" />
    <ion-card-header>
      <ion-card-title>Sustrato 100 litros.</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Saco de 100 litros, magnifico para transplantar a tierra a tu gran planta favorita.
    </ion-card-content>
    <ion-button expand="block" class="boton-agregar">Agregar al carrito</ion-button>
  </ion-card>
</ion-content>